.container
{
    background: pink;
    width: 400px;
    height: 60vh;
    padding: 10px;
    margin: auto;
}



body{
    background-color: rgb(124 137 184);
    display: flex;
    justify-content: space-around;
    
}

.message
{
    background-color: gray;
    width: 40%;
    margin: 10px;
    border: 2px solid black;
    border-radius: 6px;

}

.left
{
    float: left;
    clear: both;
}
.right
{
    float: right;
    clear: both;
}

 #send-container
{
    display: block;
    margin: auto;
   
} 